body{
    margin: 0;
    padding: 0;
    font-family:Bebas Neue;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:#ffffff;
    box-shadow:1px 2px 10px whitesmoke;
    width: 100%;
    height: 70px;
    z-index: 1;
}
.nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
}
.logo{
    flex:1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 40px;
}
.icone{
    width:45px;
    height:45px;
   
}
a{
    margin:15px;
    color:#000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
a:hover{
    color:#000;
    text-decoration:underline black;
}

.banner-area{
    position: relative;
    background-image: url(../imagens/bgcontblur.jpg);
    width: 100%;
    height: 100vh;
    background-repeat:repeat;
    -webkit-background-size:cover;    
    background-size: cover;
    background-attachment: fixed;
}
.perfil{
    position: relative;
    left:200px;
    top:180px;
    width: 25%;
    border-radius: 10px;
    box-shadow: 10px 10px 20px black;
}
.nomePerfil1{
    font-size: 40px;
    color: white;
    position: relative;
    left: 530px;
    bottom: 150px;
}
.nomePerfil2{
    font-size: 40px;
    color: white;
    position: relative;
    left: 530px;
    bottom: 200px;  
}
.nomePerfil3{
    font-size: 40px;
    color: white;
    position: relative;
    left: 530px;
    bottom: 250px;  
}