body{
    margin: 0;
    padding: 0;
    font-family:Bebas Neue;
}
.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:#ffffff;
    box-shadow:1px 2px 10px whitesmoke;
    width: 100%;
    height: 70px;
    z-index: 1;
}
.nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
}
.logo{
    flex:1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 40px;
}
.icone{
    width:45px;
    height:45px;
   
}
a{
    margin:15px;
    color:#000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
a:hover{
    color:#000;
    text-decoration:underline black;
}
.banner-area{
    position: relative;
    background-image: url(../imagens/bgmetal.jpg);
    width: 100%;
    height: 100vh;
    background-repeat:repeat;
    -webkit-background-size:cover;    
    background-size: cover;
    background-attachment: fixed;
}
.rock1{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 900px;
}

.rock2{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 1400px;  
}
.rock3{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 900px;
}
.rock4{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 930px;
}
.rock5{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 1300px;
}
.rock6{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 1060px;
}
.rock7{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 1150px;
}
.rock8{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 880px;
}
.rock9{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 1000px;
}
.rock10{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 750px;
}
.rock11{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 1050px;
}
.rock12{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 900px;
}
.rock13{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 1150px;
}
.rock14{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 1200px;
}
.rock15{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 870px;
}
.rock16{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 800px;
}
.rock17{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 1050px;
}
.rock18{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 1200px;
}
.rock19{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 700px;
}
.rock20{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100px;
}

.text-part{
    width: 65%;
    height: 80%;
}
h1{
    font-size: 50px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
}
h1:hover{
    text-decoration: underline grey;
}
p{
    font-size: 24px;
    line-height: 50px;
    

}
.rock1,.rock3,.rock5,.rock7,.rock9,.rock11,.rock13,.rock15,.rock17,.rock19{
    background: url(../imagens/white.jpg);
    background-attachment: fixed;
    background-repeat:repeat;
    background-size: cover;
    color: black;
}
.rock2,.rock4,.rock6,.rock8,.rock10,.rock12,.rock14,.rock16,.rock18,.rock20{
    background: url(../imagens/grey.jpg);
    background-attachment: fixed;
    background-repeat:repeat;
    background-size: cover;;
    color:#ffffff;
}
.foto{
    width: 350px;  
    position: relative;    
    border-radius: 10px;       
}
.foto:hover{
    box-shadow: 10px 10px 35px -25px;
    
}
.nomes1{
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation:blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 30px;    
    border-right: 3px solid black;
    box-sizing: border-box; 
    
}
.nomes2{
    display: inline-block;
    overflow: hidden;
    letter-spacing: 2px;
    animation:blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 30px;    
    border-right: 3px solid white;
    box-sizing: border-box;

}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color:grey; 
 }
}


