*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:Bebas Neue;
    letter-spacing: 1px;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.swipe{
    height: 100%;
    flex-basis: 50%;
    flex-shrink: 1;
    transition: .5s;
    display:flex;
    justify-content: center;
    align-items: center;
}
.swipe:hover{
    flex-basis: 85%;
}

.swipe-direito{
    background: url(../imagens/bgmetalblur.jpg)no-repeat center;
    background-size: cover;
}
.swipe-esquerdo{
    background: url(../imagens/bgrockblur.jpg)no-repeat center;
    background-size: cover;
}
.box{
    width: 100%;
    max-width: 380px;
    padding: 30px;
    color:#fff;
    background: rgba(0, 0, 0, 0.746);
    border-radius: 4px;
    transition: .5s;
   
}
.box:hover{
    box-shadow: 4px 3px 20px black;

}
.box .b_head{
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.box .b_head{
    font-size: 42px;
    line-height: 44px;
    margin-bottom: 15px;
}
.box p{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 60px;
}
.btn{
    color: black;
    text-decoration: none;
    padding: 12px 45px;
    text-align: center;
    background: white;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 4px;
    cursor: pointer;
}
.btn_black{
    background: white;
    transition: .5s;
}
.btn_black:hover{
    background:black;
    color: white;

}