body{
    margin: 0;
    padding: 0;
    font-family:Bebas Neue;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:#ffffff;
    box-shadow:1px 2px 10px whitesmoke;
    width: 100%;
    height: 70px;
    z-index: 1;
}
.nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
}
.logo{
    flex:1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 40px;
}
.icone{
    width:45px;
    height:45px;
   
}
a{
    margin:15px;
    color:#000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
a:hover{
    color:#000;
    text-decoration:underline black;
}

